@charset "utf-8";
#wrapper{
	position:relative;
	top:0;
	left:0;
	z-index:10;
	
	padding: 0;
	margin: 0;
}

#contents{
	width: 980px;
	margin: 0 auto;
	text-align: center; /*例*/
	
	background: #f00;
}

@media screen and (min-width: 640px) {
}

@media screen and (max-width: 639px) {
	img.wide{
		width: 100%;
		height: auto;
	}
	
	#contents{
		width: 100%;
		text-align: left; /*例*/
	}
}